#memeContainer {
    margin: auto;
    width: 45%;
    position: relative;
}

#memeImg {
    z-index: 1;
    height: 500px;
    width: 500px;
    margin: 0;
}

.memeText {
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: 4em;
    color: white;
    font-family: Impact;
    text-shadow:
    -3px -3px 0 #000,  
     3px -3px 0 #000,
    -3px  3px 0 #000,
     3px  3px 0 #000;
    border: 1px dashed gray;
    width: 499px;
    height: 80px;
    padding: 0;
    cursor: pointer;
}

#topText {
    top: 0;
}

#bottomText {
    bottom: 3px;
}

.memeText textarea {
    background-color: transparent;
    border:none;
    text-align: center;
    font-size: 0.999em;
    color: white;
    font-family: Impact;
    text-shadow:
    -3px -3px 0 #000,  
     3px -3px 0 #000,
    -3px  3px 0 #000,
     3px  3px 0 #000;
     height: 100%;
     width: 100%;
     resize: none
}

.memeText textarea:focus {
    outline: none;
    caret-color: black;
}