body {
    text-align: center;
}

#memeContainer {
    margin: auto;
    position: relative;
    text-align: center;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#memeImg {
    z-index: 1;
    height: 500px;
    width: 500px;
    margin: 0;
}

.memeText {
    position: absolute;
    z-index: 2;
    border: 1px dashed gray;
    width: 499px;
    height: 80px;
    padding: 0;
    cursor: pointer;
}

#topText {
    top: 0;
}

#bottomText {
    top: 417px;
}

.memeText textarea {
    background-color: transparent;
    border:none;
    text-align: center;
    font-size: 64px;
    color: white;
    font-family: Impact;
    text-shadow:
    -3px -3px 0 #000,  
     3px -3px 0 #000,
    -3px  3px 0 #000,
     3px  3px 0 #000;
     height: 100%;
     width: 100%;
     resize: none;
     overflow: hidden;
     line-height: 1;
}

.memeText textarea:focus {
    outline: none;
    background-color: rgba(192,192,192, 0.5);
    caret-color: black;
}

.dragLayer {
    z-index: 10;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

dialog {
    position: fixed;
    top: 3%;
    bottom: 3%;
}

dialog img {
    margin: auto;
    width: 500px;
}

dialog button {
    background-color: gray;
    height: 5%;
    width: 50%;
    color: white;
    font-style: bold;
    display: block;
    margin: auto;
    text-align: center;
}

dialog button img {
    width: 20%;
    height: 80%;
    margin: 0;
    display: inline-block;
}
