body {
    text-align: center;
}
.tablePanel {
    display: inline-block;
    position: relative;
    width: 200px;
    margin: 20px;
}

.tablePanel .meme {
    width: 200px;
    display: block;
    height: auto;
}

.tablePanel .info {
    display: block;
}

.tablePanel .icon {
    width: 100%;
}

.tablePanel button {
    width: 15%;
    background-color: transparent;
    border: none;
}






.listPanel {
    display: block;
    width: 85%;
    text-align:center;
    margin: 20px;
}

.listPanel .meme {
    display: inline-block;
    width: 300px;
    height: auto;
    vertical-align: middle;
}

.listPanel .info {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
}

.listPanel .title {
    display: inline-block;
}

.listButtons {
    display: inline-block;
}



.listPanel .icon {
    width: 50%;
}
.listPanel button {
    width: 20%;
    background-color: transparent;
    border: none;
}

#toggleView {
    float: right;
}

#newMemeButton  {
    float: right;
}

#changePasswordButton {
    float: left;
}

#logOutButton {
    float: left;
}

h1 {
    text-align: center;
}

html {
    background-color: violet;
}