body {
    text-align: center;
}
.tablePanel {
    text-align: center;
    display: inline-block;
    position: relative;
    width: 16em;
    height: 23em;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #F4F1F0;
    background-color: #363331;
    border: 3em, solid, #363331;
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 0; 
    margin: 1em;
}

.tablePanel .meme {
    display: block;
    width: 12em;
    display: block;
    height: auto;
    margin: auto;
    border-radius: 0.5em;
}

.tablePanel .info {
    height: auto;
    display: block;
}

.tablePanel .icon {
    width: 100%;
}

.tablePanel button {
    width: 18%;
    background-color: transparent;
    border: none;
    margin: 3%;
}

.tablePanel button:hover {
    background-color: #6A6766;
}



main {
    text-align: center;
}


.listPanel {
    display: block;
    width: 85%;
    text-align:center;
    margin: 1em auto 1em auto;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #F4F1F0;
    background-color: #363331;
    border: 3em, solid, #363331;
    border-radius: 1em;
}

.listPanel .meme {
    display: inline-block;
    width: 10em;
    height: auto;
    vertical-align: middle;
}

.listPanel .info {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
}

.listPanel .title {
    display: inline-block;
}

.listButtons {
    display: inline-block;
}



.listPanel .icon {
    width: 30%;
}
.listPanel button {
    width: 20%;
    background-color: transparent;
    border: none;
}

#toggleView {
    float: right;
}

#newMemeButton  {
    float: right;
}

#changePasswordButton {
    float: left;
}

#logOutButton {
    float: left;
}

h1 {
    text-align: center;
}

html {
    background-color: violet;
}